trigger:
  batch: false
  branches:
    include:
    - da-master

# Enable PR triggers that target the master branch
pr:
  autoCancel: true # cancel previous builds on push
  branches:
    include:
    - da-master

jobs:
  - job: ci
    timeoutInMinutes: 360
    strategy:
      matrix:
        linux:   {image: "Ubuntu 16.04"}
        windows: {image: "vs2017-win2016"}
        mac:     {image: "macOS-10.13"}

    pool: {vmImage: '$(image)'}

    steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: '3.6'
          architecture: 'x64'

      - bash: |
          /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
          brew install autoconf automake gmp
        condition: eq( variables['Agent.OS'], 'Darwin' )
        displayName: Install brew


      - script: |
          curl -sSL https://get.haskellstack.org/ | sh
          stack setup --resolver=lts-12.10
          stack runhaskell CI.hs $(Build.SourceBranchName) --package=extra